.img {
	width: 300px;
	border-radius: 15px;
}

.item {
	cursor: pointer;
	position: relative;
}

.title {
	position: absolute;
	bottom: 15px;
	left: 50%;
	transform: translateX(-50%);

	display: inline-block;

	padding: 5px 0;

	font-size: 25px;
	font-weight: 600;

	background-image: linear-gradient(
		to right,
		#54b3d6,
		#54b3d6 50%,
		#fafafa 50%
	);
	background-position: -100%;
	background-clip: text;
	background-size: 200% 100%;

	transition: all 0.3s ease-in-out;

	-webkit-text-fill-color: transparent;
}

.title:before {
	content: '';

	position: absolute;
	bottom: -3px;
	left: 0;

	display: block;

	width: 0;
	height: 3px;

	background: #54b3d6;

	transition: all 0.3s ease-in-out;
}

.item:hover .title {
	background-position: 0;
}

.item:hover .title::before {
	width: 100%;
}

.dark,
.light {
	transition: all 0.3s ease-out;
}

.dark:hover {
	box-shadow: rgba(161, 16, 16, 0.25) 0px 54px 55px,
		rgba(161, 16, 16, 0.12) 0px -12px 30px, rgba(161, 16, 16, 0.12) 0px 4px 6px,
		rgba(161, 16, 16, 0.17) 0px 12px 13px, rgba(161, 16, 16, 0.09) 0px -3px 5px;
}

.dark .title {
	background-image: linear-gradient(
		to right,
		#e0393e,
		#e0393e 50%,
		#fafafa 50%
	);
}

.dark .title::before {
	background: #e0393e;
}

.light .title {
	background-image: linear-gradient(
		to right,
		#5ae039,
		#5ae039 50%,
		#fafafa 50%
	);
}

.light .title::before {
	background: #5ae039;
}

.light:hover {
	box-shadow: rgba(40, 161, 16, 0.25) 0px 54px 55px,
		rgba(40, 161, 16, 0.12) 0px -12px 30px, rgba(40, 161, 16, 0.12) 0px 4px 6px,
		rgba(40, 161, 16, 0.17) 0px 12px 13px, rgba(40, 161, 16, 0.09) 0px -3px 5px;
}
